<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <style>
        *{
            box-sizing: border-box ;
        }
        body{
            margin:0px
        }
        h1{
            background-color: cadetblue;
            text-align: center; 
            margin:0px;
            padding:40px;
            color:cornsilk;
        }
        h2{
            text-align: center;
        }
    </style>
    <!-- <link rel="stylesheet" type="text/css" href="/public/index.css"> -->
</head>
<body>
    <h1>註冊失敗</h1>
    <h2>{{failWarning}}</h2>
    <h2><a href="/">重新註冊</a></h2>
</body>
</head>
</html>