*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

a{
	text-decoration: none;
}

.nav-bar{

	position: fixed;
	width: 100%;
	background-color: white;

}

.title{
	font-size: 20px;
	display: inline-block;
	margin:10px
}

#mbnav{
	display: none;
	position: fixed;
	top: 45.5px;
	width: 100%;
	background-color: rgba(50, 50, 50);

}

/*For mobile phones*/
img[src*="/nSiATQA.png"]{
	display: inline-block;
	float: right;
	max-height: 25.5px;
	margin: 10px;
}

.main-menu{
	display: none;
}

.pics_container{
	display: grid;
	max-width: 90%;
	margin:20px auto;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-gap: 20px;
;
}

.pics{
	width: 100%;
	background-color: #ddeef8;
	text-align: center;
}	

.pics p{
	font-size: 20px;padding: 5px;color:black;margin: 0;
}

#mbmenu{
	display: flex;
	padding: 0;
	flex-direction: column;
	flex-wrap: wrap;
	margin:0;
	list-style-type: none;
	text-align: center;
		
}

#mbmenu li{
	padding: 15px;

}

#mbmenu li a{
	font-size: 20px;
	color: white;

}

.dropdown-content{
	display: none;
}

/*For tablets*/
@media screen and (min-width: 601px){
	img[src*="/nSiATQA.png"]{
	display:none;
	}	

	.main-menu{
		float: right;
		display: flex;
		padding: 0;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 10px;
		margin-bottom: 10px;
		list-style-type: none;

		
	}

	.main-menu li{
		display: inline-block;
		font-size: 20px;
		padding: 0 10px;
		position: relative;
	}

	.pics_container{
		display: grid;
		max-width: 90%;
		grid-template-columns: 48% 48%;
		grid-template-rows: auto auto auto auto;
		grid-gap: 4%;
		justify-content: space-evenly;
		margin: 20px auto;

	}

	.pics{
		width: 100%;
		background-color: #ddeef8;
		text-align: center;

	}

	.pics p{
	font-size: 20px;padding: 5px;color:black;margin: 0;
	}


	.dropdown-content{
		display: none;
		position: absolute;
		background-color: lightblue;
		width: 100%;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		left: 0px;
	}

	.dropdown-content a{
		color: black;
		font-size: 20px;
		text-decoration: none;
		display: block;
		padding: 12px 16px;
	}
	
	.dropdown-content a:hover {background-color: rgba(100,100,100,0.6);}

	.main-menu li:hover .dropdown-content {display: block;}

}

/*For pc*/
@media screen and (min-width: 1201px){
	img[src*="/nSiATQA.png"]{
	display:none;
	}	

	.main-menu{
		float: right;
		display: flex;
		padding: 0;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 10px;
		margin-bottom: 10px;
		list-style-type: none;

	}

	.main-menu li{
		display: inline-block;
		font-size: 20px;
		padding: 0 10px;
		position: relative;

	}

	.pics_container{
		display: grid;
		max-width: 1200px;
		grid-template-columns: 22% 22% 22% 22%;
		grid-gap: 4%;
		margin: 20px auto;
	}

	.pics{
		width: 100%;
		background-color: #ddeef8;
		text-align: center;
	}

	.pics p{
	font-size: 20px;padding: 5px;color:black;margin: 0;
	}

	.dropdown-content{
		display: none;
		position: absolute;
		background-color: lightblue;
		width: 100%;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		left: 0px;
	}

	.dropdown-content a{
		color: black;
		font-size: 20px;
		text-decoration: none;
		display: block;
		padding: 12px 16px;
	}
	
	.dropdown-content a:hover {background-color: rgba(100,100,100,0.6);}

	.main-menu li:hover .dropdown-content {display: block;}
}